<div class="product-list">
  <h1>Cart Items</h1>
  <div class="product-item" *ngFor="let item of carProducts">
    <img [src]="item.images?.[0]" alt="Product Image" class="product-image">
    <div class="product-details">
      <h3>{{item.title}}</h3>
      <p>Category: {{item.category}}</p>
      <p>Price: ${{item.price}}</p>
      <p>Quantity: {{item.count}}</p>
      <div style="display: flex; gap: 10px; align-items: center;">
        <button (click)="decrement(item)" class="btn-remove">-</button>
        <span>{{item.count}}</span>
        <button (click)="increment(item)" class="btn-remove">+</button>
        <button (click)="removeItem(item)" class="btn-remove">Remove</button>
      </div>
    </div>
  </div>

</div>
<div class="total-price">
  <div class="product-item">
    <div class="product-details">
      <h3>Total Price:</h3>
      <p>${{totalPrice}}</p>
    </div>
    <button (click)="goToCheckout()" class="btn-checkout">Checkout</button>
    <button class="btn btn-primary" (click)="goBack()">Back to List</button>
  </div>
</div>

<ng-template #emptyCart>
  <p class="empty-message">Your cart is empty.</p>
</ng-template>
