<app-layout></app-layout>
<div class="col-md-6">
    <h3>{{ productOBJ?.id ? 'Edit Product' : 'Add Product' }}</h3>
    <form>
      <!-- <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" id="brand" class="form-control" [(ngModel)]="productOBJ.brand" name="brand" required />
      </div> -->
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="productOBJ.name" name="name" required />
      </div>
       <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" class="form-control" [(ngModel)]="productOBJ.description" name="description" required />
      </div>
      <!-- <div class="form-group">
        <label for="category">Category</label>
        <input type="text" id="category" class="form-control" [(ngModel)]="productOBJ.category" name="category" required />
      </div> -->
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" class="form-control" [(ngModel)]="productOBJ.price" name="price" required />
      </div>
      <div class="form-group">
        <label for="stock">Stock</label>
        <input type="number" id="stock" class="form-control" [(ngModel)]="productOBJ.stock" name="stock" required />
      </div>
      <!-- <div class="form-group">
        <label for="images">Images (comma separated URLs)</label>
        <input type="text" id="images" class="form-control" [(ngModel)]="productOBJ.images" name="images" required />
      </div> -->
      <button *ngIf="!productOBJ.id" type="button" class="btn btn-success" (click)="createProduct()">Add Product</button>
      <button class="btn btn-secondary" (click)="goBack()">Back to List</button>
    </form>
  </div>
  